@font-face {
  font-family: inter;
  src: url('../app/[locale]/fonts/inter-variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: poppins;
  src: url('../app/[locale]/fonts/poppins-variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
